/* for table */
div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

div.column {
    width: 100%;
    padding: 0px 10px;
}

div.column-5 {
    width: 70%;
}

div.column-7 {
    width: 100%;
}

h1.section_header {
    font-size: 21px;
    color: rgb(5, 80, 5);
    border-bottom: 1px solid #ffd7e1;
    padding-bottom: 11px;
    padding: 10px;
    border-left: 4px solid #f690bf;
    margin-bottom: 20px;
}

/* styling the add users table */

/* styling the add users table */
.users table,
th,
td {
    border: solid 2px #090224;
    border-collapse: collapse;
    text-align: center;

}
.poList table,
th,
td {
    border: solid 2px #090224;
    border-collapse: collapse;
    text-align: center;

}
table{
    width: 100%;
}

table th{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background: #b3adad;
}
table td{
    font-size: 14px;
    padding: 1px;
}

p.userCount {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 10px 5px 5px;
}

.subMenus{
    background: rgb(7, 3, 78);
    color: #f690bf;
    font-size: 10px;
    padding-left: 20px !important;
    display: none;
}


i.mainMenuIconArrow{
    float: right;
}

.subMenuActive{
    font-weight: bold;
    color: #f690bf;
    background: #f690bf;
}

/* description css */
.productTextAreaInput {
    width: 100%;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
  }

.productImages{
  height: 50px;
  width: 50px;
}


#suppliersSelect{
    display: block;
    width: 100%;
    height: 90%;
    border: solid black 2px;
    border-radius: 5px;
}

.productTextAreaInputLocation{
    width: 100%;
    height: 33px;
    padding-left: 10px;
    border: 2px solid rgb(44, 42, 42);
    border-radius: 5px;
}

.poList{
    margin-bottom: 30px;
}

.poList p{
    font-weight: bold;
    color: red;
    text-transform: uppercase;
    font-size: 20px;
}

.updatePoBtn{    
    color: black;
    background: #ffff;
    border: 1px solid #f690bf;
    padding: 2px 20px;
    margin-top: 6px;
    border-radius: 5px
}
.updatePoBtn:hover{
    color: white;
    background: #f690bf;
}

.deliveryBtn{    
    color: black;
    background: #ffff;
    border: 1px solid #ffff;
    padding: 2px 20px;
    margin-top: 6px;
    border-radius: 5px
}
.deliveryBtn:hover{
    color: white;
    background: #1b05e6;
}
.po-badge{
    padding: 1px 20px;
}

.po-badge-pending{
    background: #eb0d32;
    border: 1px solid #eae3e3;
    padding: 0px 20px;
    color: white;

}

.po-badge-complete{
    background-color: #0f9e0f;
    border: 1px solid #eae3e3;
    padding: 0px 16px;
    color: white;

}

.po-badge-incomplete{
    background-color: #0c1467;
    border: 1px solid #eae3e3;
    padding: 0px 10px;
    color: white;
}


div.dashColumn{
    width: 50%;
}

div.charts{
    display: flex;
    flex-direction: row;
    /* border: solid red 2px; */
}

