/* for table */
div.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

div.column {
    width: 100%;
    padding: 0px 10px;
}

div.column-5 {
    width: 30%;
}

div.column-7 {
    width: 70%;
}

h1.section_header {
    font-size: 21px;
    color: green;
    border-bottom: 1px solid #ffd7e1;
    padding-bottom: 11px;
    padding: 10px;
    border-left: 4px solid #f690bf;
    margin-bottom: 20px;
}

/* styling the add users table */

/* styling the add users table */

.users table{
    margin-right: 2px;
}
.users table,
th,
td {
    border: solid 2px #090224;
    border-collapse: collapse;
    text-align: center;

}

table{
    width: 100%;
}

table th{
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    background: #b3adad;
}
table td{
    font-size: 14px;
    padding: 1px;
}

p.userCount {
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 5px 10px 5px 5px;
}